[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
supabase = "*"
pydantic = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
